body {
    background-image: linear-gradient(pink,lightblue);
}

header {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(2, 32, 51, 0.75);
    font-size: 60px;
    padding: 5px;
    text-align: center;
}

header p {
    font-size: 40px;
    padding: 3px;
}

.image-container {
    display: flex;
    justify-content: center;
    height: 250px;
    opacity: 0.8;
}

main {
    margin: 20px;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

.lyrics {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: rgba(22, 46, 93, 0.9);
    text-align: center;
}

footer {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.3);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 10px;
}


